<html>

    <head>
        <title>
            Rechnung {{ id }}
        </title>
    </head>

    <body>
      <h1>Rechnung</h1>

      <p id="fromaddress">
        <u>{{ seller_name }}: {{ seller_address }}</u>
      </p>
      <p id="toaddress">
      {{ buyer_name }}: {{ buyer_address }}
      </p>


	<table class="infoheader">
            <tr>
                <th>Rechnungsnummer</th>
                <th>Leistungszeitraum</th>
                <th>Rechnungsdatum</th>
            </tr>
            <tr>
		<td class="info">{{ id }}</td>
		<td class="info">{{ issue_date }}</td>
            </tr>
        </table>


	<h2>Rechnungspositionen</h2>
	<table class="positions">
            <tr>
                <th id="tablepos">Pos.</th>
                <th id="tabledesc">Beschreibung</th>
                <th id="tabletotal">Gesamtpreis</th>
            </tr>
	    {% for item in items %}
            <tr class="position">
		<td class="positions">{{ item.name }}</td>
		<td class="positions">{{ item.description }}</td>
		<td class="positions">{{ item.subtotal }}</td>
            </tr>
	    {% endfor %}
        </table>

	<table class="positions sum">
            <tr>
                <th>Nettobetrag</th>
                <th>Mehrwertsteuer (19%)</th>
                <th>Rechnungsbetrag</th>
            </tr>
            <tr>
		<td class="total">{{ total_net }}</td>
		<td class="total">{{ total_vat }}</td>
		<td class="total strong">{{ total_gross }}</td>
            </tr>
        </table>


	<h2>Hinweise</h2>
        <p>
	Alle Preise verstehen sich in Euro und sind innerhalb von 14 Tagen auf das nebenstehend angegebene Konto zu überweisen. Um eine möglichst fehlerfreie Verbuchung ihrer Einzahlungen vornehmen zu können, bitten wir um die Angabe der Rechnungsnummer {{ id }} im Verwendungszeck. Bei Daueraufträgen benötigen wir zumindest ihre Kundennummer {{ cid }}.
        </p>

        <p>
        Diese Rechnung wurde maschinell erstellt und ist auch ohne Unterschrift gültig.
        </p>

    </body>
</html>
